<head>
    <title>Resource Uploader</title>
    <script src="/static/js/jquery.js" type="text/javascript"></script>
    <script src="/static/js/script.js" type="text/javascript"></script>
    <!-- BEGIN TASK 2 -->
    <!-- <link rel="stylesheet" href="/static/css/styles.css" type="text/css"> -->
    <!-- END TASK 2 -->
</head>
<body>
    <h1>Image Upload</h1>
    <!-- BEGIN TASK 1 -->
    <form action="/submit_image">
        <input type="file" id="image_file" name="image_to_be_uploaded">
        <input type="submit" id="submission">
    </form>
    <!-- END TASK 1 -->
</body>